<div
  class="sm:p-10 p-5 mt-16 mb-3 grid sm:grid-cols-4 grid-cols-1 sm:gap-4 gap-4"
>
  <img class="" src="../../../assets/imgs/img_1.jpg" alt="img 1" />
  <img class="" src="../../../assets/imgs/img_2.jpg" alt="img 2" />
  <img class="" src="../../../assets/imgs/img_3.jpg" alt="img 3" />
  <img class="" src="../../../assets/imgs/img_4.jpg" alt="img 4" />
  <img class="" src="../../../assets/imgs/img_5.jpg" alt="img 5" />
  <img class="" src="../../../assets/imgs/img_6.jpg" alt="img 6" />
  <img class="" src="../../../assets/imgs/img_7.jpg" alt="img 7" />
  <img class="" src="../../../assets/imgs/img_8.jpg" alt="img 8" />
</div>
